<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>Language Exchange</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>&copy; 2024 Language Exchange Project</p>
    </footer>
</body>
</html>
